<%= form_for(picture) do |f| %>
  <h4><%= f.label :artist %><br>
  <h4><%= f.text_field :artist %>

  <h4><%= f.label :title %><br>
  <h4><%= f.text_field :title %>

  <h4><%= f.label :url %><br>
  <h4><%= f.text_field :url %>

  <h4><%= f.submit "Save" %></h4>
<% end %>
