<div class="single">
  <%= link_to(image_tag(picture.url), picture_path(picture)) %>
  <h2><%= picture.title %></h2>
  <h3><%= picture.artist %></h3>
  <h4><a href="<%= picture_url(picture) %>#comments_section"><%= picture.comments.count %> Comments </a></h4>
</div>
