<!-- <p><%= @picture.title %>, <%= @picture.artist %></p>

<%= image_tag(@picture.url) %> -->
<section class="show">
  <%= render 'single_picture', picture: @picture %>

  <div class="links">
    <%= link_to('Edit Picture', edit_picture_path) %> |

    <%= link_to('Delete', picture_path(@picture), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %>
  </div>

  <div class="comments">
    <h1 class="label">Comments:</h1>
    <ul>
      <li>
        <% @picture.comments.each do |comment| %>
          <%= comment.name %>:
          <%= comment.message %>
        <% end %>
      </li>
    </ul>
  </div>
</section>
