<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
  <div class="container">

    <header class="header">
      <h1 class="logo"><a href="<%= root_path %>">Photo<span>gur</span></a></h1>


      <nav class="navbar">
          <%= link_to('Pictures', pictures_path) %>
          <%= link_to('New Picture', new_picture_path) %>
          <%= link_to('Logout', sessions_path, method: :delete) if current_user %>
                      <!-- sessions_path directs to sessions#destroy -->
          <br/>
          <% if current_user %>
            <h5>Signed in as <%= current_user.email %></h5>
          <% end %>
    </header>

    <section class="wrapper">

    <%= yield %>

    </section>

    <footer>
      <h5>Karen Gamis</h5>
    </footer>
  </div>
</body>
</html>
